<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <div class="text-container">
                    <h1 class="h1-large">Proving humanlike behaviour on the blockchain</h1>
                    <p class="p-large-white">Mitigate bot attacks against your Polkadot smart contracts with the Prosopo
                        human verification system</p>
                    <a class="btn-solid-lg" href="#intro">Find out more below</a></div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->


<!-- Introduction -->
<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: center">
                <p><br>Prosopo is the only fully decentralised human verification marketplace for substrate smart
                    contracts,
                    ensuring that Dapp Operators can block bots with minimal trust assumptions.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of introduction -->


<!-- Features -->
<div id="features" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="static/features-icon-1.svg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Seamless Integration</h5>

                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="static/features-icon-2.svg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Decentralised</h5>

                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->                    <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="static/features-icon-4.svg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Anonymous</h5>

                    </div>
                </div>
                <!-- end of card -->


            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of features -->

<!-- Details 2 -->
<div id="how-it-works" class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-container">
                    <h2>How it works</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">

                            <p-white>Prosopo system is a low-trust human verification system allowing Distributed Apps
                                (Dapps) in the
                                Polkadot ecosystem to detect and block network activity generated by automated bots.
                                This is
                                achieved without reliance on centralised third parties.
                            </p-white>
                        </li>
                        <li class="media">
                            <p-white>A network of Providers supply Dapps with verification methods, such as <a
                                    href="https://en.wikipedia.org/wiki/CAPTCHA">CAPTCHAs</a>, that identify if
                                their users are human or not.
                            </p-white>
                        </li>
                        <li class="media">
                            <p-white>Providers that supply CAPTCHAs can benefit from having their data labelled by Dapp
                                Users, rewarding Dapps in the process.
                            </p-white>
                        </li>
                        <li class="media">
                            <p-white>Providers may also offer alternative verification methods and charge Dapps a fee
                                for the service.
                            </p-white>
                        </li>
                    </ul>
                    <!--                    <a class="btn-solid-reg popup-with-move-anim" href="/download">Download Litepaper</a>-->

                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="static/attacker-botserver-flow.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of details 2 -->


<!-- Why Prosopo -->
<div id="why" class="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Why Prosopo?</h2>
                <p class="p-heading">Prosopo is the only fully decentralised captcha marketplace for substate
                    smart contracts, ensuring that Dapp Operators can block bots with minimal trust assumptions.</p>
            </div>
            <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">


            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->

<!-- Comparison -->
<div class="basic-4">
    <div class="container">
        <div class="row">
            <div class="comparison">

                <table>
                    <thead>

                    <tr>
                        <th class="compare-heading"> Feature</th>
                        <th class="compare-heading"> Google reCaptcha</th>
                        <th class="compare-heading"> hCaptcha</th>
                        <th class="compare-heading"> Effect AI</th>
                        <th class="compare-heading"> Prosopo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="compare-row">
                        <td>Decentralized</td>
                        <td><span class="tickgrey"> ⚠ </span></td>
                        <td><span class="tickgrey">☆</span></td>
                        <td><span class="tickwhite">✭</span></td>
                        <td><span class="tickwhite">✭</span></td>
                    </tr>

                    <tr class="compare-row">
                        <td>Portable reputation</td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickwhite">✭</span></td>
                    </tr>

                    <tr class="compare-row">
                        <td>Anonymous</td>
                        <td><span class="tickwhite">✭</span></td>
                        <td><span class="tickwhite">✭</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickwhite">✭</span></td>
                    </tr>

                    <tr class="compare-row">
                        <td>Open captcha marketplace</td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickwhite">✭</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickwhite">✭</span></td>
                    </tr>

                    <tr class="compare-row">
                        <td>Low-trust smart contract bot protection</td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickwhite">✭</span></td>
                    </tr>

                    <tr class="compare-row">
                        <td>Prioritises human verification over data labelling</td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickgrey">⚠</span></td>
                        <td><span class="tickwhite">✭</span></td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of details 3 -->


<!-- Pricing -->
<div id="demo" class="cards-2">
    <div class="decoration-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Demo</h2>
                <p class="p-heading">We're still building our bot prevention system for smart contracts but please get
                    in touch if you would like more info or early access to our beta testing programme when it
                    arrives.</p>
            </div>
            <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="swiper-slide">
                            <div class="card">
                                <!--                                <span style="font-size:200px;color:#141414">⚿</span>-->
                                <i class="fa fa-lock" style="font-size:200px;color:#141414"></i>
                                <div class="card-body">
                                    <span style="color: #141414">
                                            <p class="testimonial-author">Find out how you can use Prosopo to secure your smart contracts against bots</p>
                                    </span>
                                    <div class="button-wrapper">
                                        <a class="btn-solid-reg page-scroll"
                                           href="https://5b06hrhtlmh.typeform.com/to/vNpyOUfg">Stop smart contract
                                            bots</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="swiper-slide">
                            <div class="card">

                                <div class="palette" style="--s:40px;--g:20px">
                                    <div class="color1"></div>
                                    <div class="color2"></div>
                                    <div class="color3"></div>
                                    <div class="color4"></div>
                                    <div class="color5"></div>
                                    <div class="color6"></div>
                                    <div class="color7"></div>
                                    <div class="color8"></div>
                                    <div class="color9"></div>
                                    <div class="color10"></div>
                                </div>

                                <div class="card-body">
                                    <span style="color: #141414;">
                                            <p class="testimonial-author">Find out how you can use Prosopo to generate labelled data by offering human verification services</p>
                                    </span>
                                    <div class="button-wrapper">
                                        <a class="btn-solid-reg page-scroll"
                                           href="https://5b06hrhtlmh.typeform.com/to/j7tpWy5A">Generate labelled
                                            data</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <div class="card-body">
                        <div class="swiper-slide">
                            <div class="card">
                                <img class="card-image" src="static/github_PNG40.png" alt="Github Logo" width="200"
                                     height="200">
                                <div class="card-body">
                                    <span style="color: #141414">
                                        <p class="testimonial-author">Check out the code and read the documentation on Github</p>
                                    </span>
                                    <div class="button-wrapper">
                                        <a class="btn-solid-reg page-scroll"
                                           href="https://github.com/prosopo-io">View the Code</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->